{% extends 'base.html' %}
{% from "macros/fields.html" import render_text_field %}

{% block main_content %}

    <div class="container mx-auto px-40 flex justify-center">
        <p class="text-6xl font-roobertbold">Buld Edit Database</p>
    </div>

    <div class="container mx-auto mt-10 max-w-xl">  
        <form action="{{ url_for('main.app_01') }}" id="myForm" enctype="multipart/form-data" method="post" novalidate class="card shadow-xl mx-auto px-10 bg-base-200">
            <div class="form-control card-body">
                {{ form.hidden_tag() }}
                
                <div class="mb-2">
                    {{ form.file.label(class_="label") }}
                    {{ form.file(class_="file-input file-input-bordered w-full w-full")}}
                
                    {%- for error in form.file.errors %}
                        <span class="alert alert-error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ render_text_field(form.suffix) }}
                {{ render_text_field(form.replace_text) }}
                {{ render_text_field(form.material_type) }}
            </div>
            <div class="card-actions justify-end">
                {{ form.submit(class_="btn btn-secondary btn-outline mb-6 mr-6 text-2xl font-semibold") }}
            </div>
        </form>
    </div>



    <!-- The modal structure -->
    <dialog id="confirmModal" class="modal">
        <div class="modal-box">
        <h2 class="text-xl">Confirm Changes</h2>
        <p>Are you sure you want to edit the following materials?</p>
        {{ material_tests }}
        {% if material_tests %}
            <ul>
            {% for item in material_tests %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="modal-action">
            <button class="btn" onclick="closeModalAndSubmit()">Yes, Confirm</button>
            <button class="btn btn-error" onclick="closeModal()">Cancel</button>
        </div>
        </div>
    </dialog>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const myForm = document.getElementById('myForm');
            
            myForm.addEventListener('submit', function(event) {
              event.preventDefault(); // always prevent default first
              openModal();
            });
          });
          
          function openModal() {
            const modal = document.getElementById('confirmModal');
            modal.showModal();
          }
          
          function closeModal() {
            const modal = document.getElementById('confirmModal');
            modal.close();
          }
          
          function closeModalAndSubmit() {
            closeModal();
            document.getElementById('myForm').submit();
          }
      </script>
{% endblock %}
