{% extends 'base.html' %}
{% from "macros/fields.html" import render_text_field %}

{% block main_content %}

    <div class="container mx-auto px-40 flex justify-center">
        <p class="text-6xl font-roobertbold text-neutral">Buld Edit Database</p>
    </div>

    <div class="container mx-auto mt-10 max-w-xl">  
        <form action="{{ url_for('main.app_01') }}" id="myForm2" enctype="multipart/form-data" method="post" novalidate class="card shadow-2xl mx-auto px-10 glass">
            <div class="form-control card-body">
                {{ form.hidden_tag() }}
                
                <div class="mb-2">
                    {{ form.file.label(class_="label") }}
                    {{ form.file(class_="file-input file-input-bordered file-input-neutral w-full w-full")}}
                
                    {%- for error in form.file.errors %}
                        <span class="alert alert-error">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ render_text_field(form.suffix) }}
                {{ render_text_field(form.replace_text) }}
                {{ render_text_field(form.material_type) }}
            </div>
            <div class="card-actions justify-end">
                {{ form.go_submit(class_="btn btn-secondary btn-outline mb-6 mr-6 text-2xl font-semibold") }}
            </div>
        </form>
    </div>



    <!-- The modal structure -->
    <dialog id="confirmModal" class="modal">
        <div class="modal-box w-11/12 max-w-5xl">
        <h2 class="text-xl font-roobertbold mb-4">Aanpassen database</h2>
        <p>Ben je zeker dat je de volgende ID's wilt aanpassen?</p>
        <!-- Display the data in the modal -->
        {% if material_data %}
            <div class="grid grid-cols-4 gap-2 my-6">
                <p>Replace Text: <span class="font-roobertbold">{{ material_data.replace_text }}</span></p>
                <p>Suffix: <span class="font-roobertbold">{{ material_data.suffix }}</span></p>
                <p>Material Type: <span class="font-roobertbold">{{ material_data.material_type }}</span></p>
            </div>
            <div class="container">
                <ul class="grid grid-cols-4">
                    {% for id in material_data.ids %}
                        <li>{{ id }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="modal-action">
            <button class="btn" onclick="closeModalAndSubmit()">Yes, I confirm</button>
            <button class="btn btn-error" onclick="closeModal()">Cancel</button>
        </div>
        </div>
    </dialog>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Automatically open the modal if the server-side flag is set (show_modal is true).
            {% if show_modal %}
              openModal();
            {% endif %}
        });
        
        function openModal() {
            const modal = document.getElementById('confirmModal');
            modal.showModal();
        }
        
        function closeModal() {
            const modal = document.getElementById('confirmModal');
            modal.close();
        }
        
        // You can keep this function for future use when confirming the data to update the database.
        function closeModalAndSubmit() {
            closeModal();
            // Later, you can add logic here to update the database.
        }
        
      </script>
{% endblock %}
