 {% from "macros/nav.html" import header %}
 {% from "macros/footer.html" import footer %}

<!DOCTYPE html>
<!-- <html lang="en" data-theme="{{ 'business' if session.get('theme') == 'business' else 'emerald' }}"> -->
<html lang="en" data-theme="vrttheme" style="background-image: url('../static/img/ER.png');" class="bg-fixed bg-cover bg-center">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
    <title>MER APP</title>

    {% block head_content %} {% endblock %}
</head>
<body class="flex flex-col h-screen font-roobert backdrop-grayscale bg-white/75">
{{ header() }}
    <main class="main flex-grow p-12 pt-12 pb-8">
        {% block main_content %}
        {% endblock %}
    </main>
    {{ footer() }}
</body>
</html>
