{% from "macros/fields.html" import render_text_field %}
{% extends 'base.html' %}

{% block main_content %}
<style>
    #chat-log {
        display: grid;
        gap: 0.5rem;
    }
</style>
<div class="container mx-auto px-40 flex justify-center">
    <p class="text-6xl font-roobertbold text-neutral">Erai</p>
</div>

<div class="container mx-auto mt-6 max-w-4xl">
    <div class="card shadow-lg mx-auto px-8 py-8 glass rounded-xl">
        <!-- Chat Log -->
        <div id="chat-log" class="h-80 space-y-4 overflow-y-auto rounded botText p-3 bg-base-300 text-base-300-content shadow-xl max-h-96 scrollbar-thin scrollbar-thumb-neutral scrollbar-track-transparent">
        </div>

        <!-- Chat Form -->
        <form id="chat-form" class="border-t border-neutral mt-4 p-4 flex items-center space-x-4">
            <label for="message" class="sr-only">Message:</label>
            <input type="text" id="message" name="message" class="form-input flex-grow rounded-l shadow-inner p-4 border-2 border-solid" placeholder="Type your message..." />
            <button type="submit" class="btn btn-primary btn-outline">Send</button>
        </form>
    </div>
</div>


    <script src="{{ url_for('static', filename='chat.js') }}">
    </script>
  

{% endblock %}
