{% extends 'base.html' %}
{% block head_content %}
{% endblock %}
{% block main_content %}

<div class="container mx-auto px-40 flex justify-center">
    <p class="text-6xl font-roobertbold text-neutral">Eindregie Apps</p>
</div>
<div class="container w-full sm:w-4/5 md:w-2/5 lg:w-1/2 xl:w-3/5 mx-auto mt-4 md:mt-8 lg:mt-10 glass p-10 rounded-2xl shadow-2xl">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6 lg:gap-8 xl:gap-10">
        <div>
            <a href="{{ url_for('main.app_01') }}" class="btn btn-lg btn-outline border-2 btn-neutral font-roobertbold w-full">Bulk Edit</a>
        </div>
        <!-- <div>
            <a href="{{ url_for('main.app_02') }}" class="btn text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl text-base-100 btn-secondary w-36 sm:w-48 lg:w-56 h-20 sm:h-28 lg:h-36">Erai</a>
        </div> -->
        <div>
            <a href="{{ url_for('main.app_03') }}" class="btn btn-lg btn-neutral btn-outline border-2 font-roobertbold w-full">Excel Naar Schedule</a>
        </div>
        <div>
            <a href="{{ url_for('main.app_04') }}" class="btn btn-lg btn-neutral btn-outline border-2 font-roobertbold w-full">Afdruk playlist</a>
        </div>
        <div>
            <a href="https://rto365.sharepoint.com/sites/MERincidentenrapport" target="_blank" class="btn btn-lg btn-neutral btn-outline border-2 font-roobertbold w-full">Regieverslag</a>
        </div>
        <div>
            <a href="http://scheduall.vrt.be/reports/General%20New/TIP%20Dienstrooster%20uitzendregisseurs.html" target="_blank" class="btn btn-lg btn-neutral btn-outline border-2 font-roobertbold w-full">Planning</a>
        </div>
        <div>
            <a href="https://myapps.vrt.be/RDWeb/Pages/en-US/Default.aspx" target="_blank" class="btn btn-lg btn-neutral btn-outline border-2 font-roobertbold w-full">myApps</a>
        </div>
        <div>
            <a href="https://vrt-prod.atlassian.net/wiki/spaces/ET/pages/11469160/Contactpersonen+algemeen" target="_blank" class="btn btn-lg btn-neutral btn-outline border-2 font-roobertbold w-full">Confluence</a>
        </div>
    </div>
</div>

{% endblock %}
