{% extends 'base.html' %}
{% block head_content %}
{% endblock %}
{% block main_content %}

    <div class="container mx-auto flex justify-center">
        <p class="text-6xl font-roobertbold">Eindregie Apps</p>
    </div>
    <div class="container w-2/5 mx-auto mt-20 flex justify-center">
    <div class="grid grid-cols-2 gap-4">
            <div>
                <a href="{{ url_for('main.app_01') }}" class="btn text-4xl text-base-100 btn-secondary w-60 h-40">Bulk Edit</a>
            </div>
            <div>
                <a href="{{ url_for('main.app_02') }}" class="btn text-4xl text-base-100 btn-secondary w-60 h-40">Erai</a>
            </div>
            <div>
                <a href="https://rto365.sharepoint.com/sites/MERincidentenrapport" class="btn text-2xl text-base-100 btn-secondary w-60 h-40">Regieverslag</a>
            </div>
            <div>
                <a href="#" class="btn text-4xl text-base-100 btn-secondary w-60 h-40">APP 4</a>
            </div>
        </div>
    </div>

{% endblock %}