{% from "macros/fields.html" import render_text_field %}

{% extends 'base.html' %}

{% block main_content %}

    <form name="add_movie" method="post" novalidate class="card w-80 card-compact shadow-xl bg-base-300 text-base-content mx-auto">
        <div class="form-control card-body items-center w-full">
            {{ form.hidden_tag() }}
            {{ render_text_field(form.title) }}
            <!-- {{ render_text_field(form.director) }} -->
            <!-- {{ render_text_field(form.year) }} -->
        </div>
        <div class="card-actions justify-end">
            {{ form.submit(class_="btn btn-sm btn-primary mb-6 mr-6") }}
            
        </div>
    </form>


{% endblock %}